<html>
	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="/static/css/jqModal.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/jqModal.js"></script>
		
		<script>
		$().ready(function() {
			$('#ex2').jqm({ajax: '/accounts/login_modal/', trigger: 'a.ex2trigger'});
		});
		</script>
	
	</head>

	<body>
		
	{% if user.is_authenticated %}
		<p>Hello, {{ user.username }}</p>
		<a href="/accounts/logout/">LOGOUT</a>
	{% else %}
		<a href="/accounts/login/">LOGIN</a>
		
		
	{% endif %}
	
	{% block content %}{% endblock %}
	<br />
	<a href="#" class="ex2trigger">
		LOGIN_MODAL</a>
	<div class="jqmWindow" id="ex2">
		
		</div>
	</body>
</html>
